@charset "utf-8";
/* CSS Document */

@media (max-width:980px){
h13{margin-left: 400px;}
h14{margin-left: 70px;}
.sgncls_2{
width:120px;
margin-right: 150px;
}
.sgncls_1{
width:120px;
margin-left: 280px;
}
.sgncls_prov{margin-right:0px;}
.sgncls_add{margin-left:220px;}
.sgncls_12{
	width:120px;
	margin-left: 320px;
}
#endcust_name, #endcust_addr {
    margin-left: 73px;
}
#detailreview,#pay_option,#form{
	margin-left: 140px;
}
.description_new,.description_addr{
	margin-left: 195px;
}

}
@media (max-width: 768px)  {

h4{ 
	margin-left:0px;
}
.sgncls_add{margin-left:160px;}
h8{
	margin-left:3px;
 }
 h10{
 font-size: 15px;
 margin-left: 0px;
 }
 h12{
 margin-left:0px;}
 h13{margin-left: 315px;}
h14{margin-left: 5px;}
 #detailreview,#pay_option,#form{
	margin-left: 60px;
}
.description_new,.description_addr{
	margin-left: 64px;
}
 #endcust_name, #endcust_addr {
    margin-left: 10px;
}

#addbtn {
    margin-left: 0px;
}
  #Name,#FirstName,#Email,#PhoneNumber,#AddressLine1,#AddressLine2,#City,#PostalCode,#Otherremark,#Pincode{
	width: 250px;
}
.description_new,.description_addr{
	font-size: 14px;
	}
#orderdetail {
    margin-left: 110px;
}
 .sgncls_1{
width:120px;
margin-left: 200px;
}
.sgncls_2{
width:120px;
margin-left: 129px;
}
.sgncls1 {
  width: 185px;
  margin-right:0px;
  margin-left:100px;
}
.sgncls_new1 {
  width: 185px;
  margin-right:0%;
}
.sgncls_12
{
	margin-left:200px;
	width:120px;
}
.sgncls_3 {
	margin-left:88px;
}
#align_left {
    padding-left: 0px;
}
#fromdateParam,#todateParam {
	margin-left:3px;
	}
.inptxt{
	width:400px;
	margin-left:0px;	
	
}
.inptxt1{
	width:400px;
	margin-left:0px;	
	
}
 .tblcls{
  margin-top: 20px;
}
@media (max-width: 635px) {
h1{font-size:14px; margin-right:28px;}
h4{ font-size:11px;margin-left:0px;}
h5{font-size:15px;margin-top: 5px;  margin-left: 0px;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
 .description_new,.description_addr{
	font-size: 12px;
	}
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
#evidenceIdentifier {
  margin-top: 10px;
}
#dateParam {
  float: right;
  margin-top: 1px;
  margin-left: 0px;
}
.inptxt{
		width:250px;
		margin-left:0px;
}
.inptxt1{
	width:250px;
	margin-left:0px;	
	
}
.tblcls_1{
	padding-left:0px;
	width:300px;
}
.value{
	width:66px;
}
.sgncls{
width:35%;
margin-right:40%;
}
#tool {
  width: 250px;
  margin-left: 0px;
}
#updatedrop {
  width: 250px;
  margin-right: 0px;
}
}
@media (max-width: 480px) {
h4{font-size: 11px;text-align:left;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
 h13{margin-left: 125px;}
 .description_new,.description_addr{
	font-size: 9px;
	}
#detailreview,#pay_option,#form{
	margin-left: 0px;
}
.description_new,.description_addr{
	margin-left: 0px;
}
 #Name,#FirstName,#Email,#PhoneNumber,#AddressLine1,#AddressLine2,#City,#PostalCode,#Otherremark,#Pincode{
	width: 220px;
}
.sgncls_add{margin-left:0px;}
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
.inptxt{
	width: 200px;
}
#orderdetail {
    width: 100%;
    margin-left: 10px;
}
#startingdDate,#endingdate{
	width: 150px;
}
.inptxt1{
	width: 200px;
}
.sgncls_1, .sgncls_2 {
    width: 90px;
}

.sgncls_1{
	margin-left: 35px;
}
.sgncls_2{
	margin-left: 50px;
}
.sgncls1 {
  width: 115px;
  margin-right:0px;
  margin-left:0%;
  font-size:9px;
}
.sgncls_new1 {
  width: 115px;
  font-size:9px;
  margin-right:0%;
}
.sgncls_prov{
  width: 115px;
  font-size:9px;
}
.sgncls{
width:35%;
margin-right:38%;
}
.sgncls_12 {
    width: 100px;
    margin-left: 20px;
}
#tool{
	width:200px;
	height:50px;
	margin-left:0px;
}
#tool1,#tool2,#tool3{
	width:200px;
}
#updatedrop {
  width: 183px;
  height: 30px;
  margin-right: 0px;
  margin-top: 10px;
}
.inpsbtn{
	margin-left: 60px;
}
#loginwindow {
	  width: 350px;
	}

}
@media (max-width: 320px) {
h11 {
    font-size: 12px;
}
h13{margin-left:110px;}
h14{font-size: 13px;}

.sgncls{
width:24%;
margin-right:34%;
}
.sgncls_1{
	margin-left:50px;
}
.sgncls_3 {
    margin-left: 40px;
}
.sgncls_new1 {
    width: 138px;
}
#Name, #FirstName, #Email, #PhoneNumber, #AddressLine1, #AddressLine2, #City, #PostalCode, #Otherremark, #Pincode {
    width: 190px;
}
#startingdDate, #endingdate {
    width: 140px;
}
.description_new,.description_addr{
	font-size: 7px;
	}
}