@charset "utf-8";
/* CSS Document */

@media (max-width: 725px)  {

h4{ 
	margin-left:0px;
}
h8{
	margin-left:3px;
 }
#fromdateParam,#todateParam {
	margin-left:3px;
	}
.inptxt{
	width:400px;
	margin-left:0px;	
	
}
.inptxt1{
	width:400px;
	margin-left:0px;	
	
}
 .tblcls{
  margin-top: 20px;
}
@media (max-width: 635px) {
h1{font-size:22px; margin-right:28px;}
h4{ font-size:11px;margin-left:0px;}
h5{font-size:15px;margin-top: 5px;  margin-left: 0px;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
#evidenceIdentifier {
  margin-top: 10px;
}
#dateParam {
  float: right;
  margin-top: 1px;
  margin-left: 0px;
}
.inptxt{
		width:250px;
		margin-left:0px;
}
.inptxt1{
	width:250px;
	margin-left:0px;	
	
}
.tblcls_1{
	padding-left:0px;
	width:300px;
}
.value{
	width:66px;
}
.sgncls{
width:35%;
margin-right:40%;
}
#tool {
  width: 250px;
  margin-left: 0px;
}
#updatedrop {
  width: 250px;
  margin-right: 0px;
}
}
@media (max-width: 480px) {
h4{font-size: 11px;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
	.inptxt{
	width: 200px;
}
.inptxt1{
	width: 200px;
}
.sgncls{
width:35%;
margin-right:38%;
}
#tool{
	width:200px;
	height:50px;
	margin-left:0px;
}
#tool1,#tool2,#tool3{
	width:200px;
}
#updatedrop {
  width: 183px;
  height: 30px;
  margin-right: 0px;
  margin-top: 10px;
}
.inpsbtn{
	margin-left: 60px;
}
#loginwindow {
	  width: 350px;
	}

}
@media (max-width: 320px) {
.sgncls{
width:24%;
margin-right:34%;
}
}