@charset "utf-8";
/* CSS Document */
.body{ margin: 0px;
}
#logo
{
	height:45px;
	width:120px;
	float:left;
	margin-left:5px;
}
h1{ font-size:19px; color: #2692ff; text-align:center;margin-top: 5px;margin-right:150px;}
h2{font-size:17px;color: #2692ff;text-align:center;margin-right:150px;}
h3{font-size:16px;color:#ff9326;text-align:center;margin-right:50px;margin-bottom:0px;}
h4{ padding-left:0%;font-size:15px; color: #2392ff; text-align:center;float:left;margin-left: 50px;}
h5{ font-size:18px; color: #2392ff;  margin-top: 25px;margin-bottom: 0px; margin-left: 20px;}
h6{font-size:16px;color:#ff9326;text-align:left;margin-right:50px;margin-bottom:0px;margin-top:0px;margin-left:38%}
h7{ width:100%;font-size:17px; color: #2392ff; text-align:center;float:left;font-weight:bold;margin-top:20px;margin-bottom:10px;}
h8{font-weight: bold; font-size:15px; color: #2392ff; text-align:center;float:left;}
h9{font-size:15px; color: #333333; font-weight:bold;float:left;margin-top: 10px;margin-left:5px;}
h10{font-size:18px;color: #ff9326;text-align:center;margin-left:50px;}
tr{ color: #2392ff; text-align: center;}
select
{
	background-color:#f1f1f1;
	color:#333333;
}
hr{
	width:100%;
	color: #ff9326;
	background-color: #ff9326;
	height: 2px;
	border: none;
	float:left;
	margin-top:0px;
}
.description{
	padding-top:0px;
	font-family: "Lucida Sans Unicode", sans-seriff;
	font-size: 14px;
}
.nomatch{
	padding-top:75px;
	font-family: "Lucida Sans Unicode", sans-seriff;
	font-size: 14px;
}
.report{
	float:left;
	width: 100%;
	margin-top:25px;
}

#newfield{
float:left;
}
.inptxt{
	width: 500px;
	height: 20px;
	background-color:#f1f1f1;
	margin-top:20px;
	margin-left: 0px;
}
.inptxt1{
	width: 500px;
	height: 20px;
	background-color:#f1f1f1;
	margin-top:20px;
	float:left;
	
}
#deleteitem{
	float:left;
}
.tblcls_1
{
width: 477px;
height: 200px;

font-size:15px;
font-family:Lucida Sans;
margin-top: 10px;
margin-left: 4px;
padding-left: 100px;
float: center;
}
#align{
	width:500px;
}
#align1{
	width: 500px;
	height: 200px;
}
.value{
	width: 100px;
	height: 15px;
	background-color:#f1f1f1;
	
}
.button{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.updatebutton{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.updatecategorybtn{
	background-color: #ff9326;
	color: #ffffff;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.inpsbtn{
	width:50%;
	float:left;
	margin-top: 75px;
}
#evidenceIdentifier{
	float:left;
	margin-top:0px;
	margin-left:25px;
}
#tool{
	width:300px;
	height:60px;
	float:left;
}
#tool1{
	width: 300px;
	height: 30px;
	margin-top: 15px;
}
#tool2{
	width: 300px;
	height: 60px;
	margin-top: 15px;
	margin-left:0px;
	float:left;
}
#tool3{
	width: 300px;
	height: 30px;
	margin-top: 15px;
	margin-left:0px;
	float: left;
}
#updatedrop{
	width:300px;
	height:30px;
	margin-right:155px;
	margin-top: 15px;
	float:left;
}
.toolbox{
	float:left;
}
.date{
	float:left;
	margin-top: 30px;
	width: 100%;
}
#fromdateParam{
	float: left;
  margin-top: 10px;
  margin-left: 85px;
  width: 160px;
}
#todateParam{
	float: left;
  margin-top: 10px;
  margin-left: 85px;
  width: 160px;
}
#datepattern{
margin-top: 10px;
margin-left: 15px;
}
/*Login page*/
@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin:0px;
}

//#banner
//{
//	width: 100%;
//	/* background-color: brown; */
//	height: 120px;
//	/*background-color: #B8B4B4;*/
//	
//}
//#logo
//{
//	float:left;
//	width: 217px;
//	/* background-color: brown; */
//	height: 120px;
//	margin-left: 5px;
//}
#loginwindow
{
	margin:0px auto;
	width: 511px;
	height: 196px;
	border-color: white;
	/* background-color:#933; */
	border-width: 3px;
	border-style: solid;
	margin-top: 0px;
	border-radius: 8px;
}
.tblcls
{
width: 100%;
height: 120px;
font-size:15px;
font-family:Lucida Sans;
align:center;
margin-left: 4px;
float:left;
margin-top: 35px;
}

.inpbtn
{
width: 180px;
height: 26px;
border-radius: 4px;
border-style: solid;
border-color: #f1f1f1;
background-color: #f1f1f1;
border-width: 1px;
}
.sgncls
{
width: 35%;
height: 43px;
border-radius: 10px;
float: right;
margin-right: 42%;
margin-left:30%;
margin-top: 6px;
background-color: #ff9326;
color: #fff;

}
#lgnbtn
{
	width:100%;
	height: 100px;
}
#login
{
	//margin-left:650px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	color: #2392ff;
	font-size:18px;
	font-family:Lucida Sans;
	float:left;
	width: 100%;
}
/*Login page End*/
/*Menu*/
.menu{
	align: center;
	background-color: #2392ff;
	color:#fff;
	border-radius: 5px;
	width:300px;
	font-size:16px;
	margin-top: 10px;
	height: 50px;
}
#option
{
	float:left;
	width:100%;
	margin-top:50px;
}
/*Menu End*/
=======
@charset "utf-8";
/* CSS Document */
.body{ margin: 0px;
}
#logo
{
	height:45px;
	width:120px;
	float:left;
	margin-left:5px;
}
h1{ font-size:19px; color: #2692ff; text-align:center;margin-top: 5px;margin-right:150px;}
h2{font-size:17px;color: #ff9326;text-align:center;margin-right:150px;}
h3{font-size:16px;color:#ff9326;text-align:center;margin-right:50px;margin-bottom:0px;padding-top: 5%;}
h4{ padding-left:0%;font-size:15px; color: #2392ff; text-align:center;float:left;margin-left: 50px;}
h5{ font-size:18px; color: #2392ff;  margin-top: 25px;margin-bottom: 0px; margin-left: 20px;}
h6{font-size:16px;color:#ff9326;text-align:left;margin-right:50px;margin-bottom:0px;margin-top:0px;margin-left:38%}
h8{font-weight: bold; font-size:15px; color: #2392ff; text-align:center;float:left;margin-left: 20px;margin-top:10px;}
h7{ width:100%;font-size:17px; color: #2392ff; text-align:center;float:left;font-weight:bold;margin-top:20px;margin-bottom:10px;}
h9{font-size:15px; color: #333333; font-weight:bold;}
tr{ color: #2392ff; text-align: center;}
select
{
	background-color:#f1f1f1;
	color:#333333;
}
hr{
	width:100%;
	color: #ff9326;
	background-color: #ff9326;
	height: 2px;
	border: none;
	float:left;
	margin-top:0px;
}
.description{
	padding-top:0px;
	font-family: "Lucida Sans Unicode", sans-seriff;
	font-size: 14px;
}
.nomatch{
	padding-top:75px;
	font-family: "Lucida Sans Unicode", sans-seriff;
	font-size: 14px;
}
.report{
	float:left;
	width: 100%;
	margin-top:25px;
}


.inptxt{
	width: 500px;
	height: 20px;
	background-color:#f1f1f1;
	margin-top:20px;
	margin-left: 0px;
}
.inptxt1{
	width: 500px;
	height: 20px;
	background-color:#f1f1f1;
	margin-top:20px;
	float:left;
	
}
#deleteitem{
	float:left;
}
.tblcls_1
{
width: 477px;
height: 200px;

font-size:15px;
font-family:Lucida Sans;
margin-top: 10px;
margin-left: 4px;
padding-left: 100px;
float: center;
}
#align{
	width:500px;
}
#align1{
	width: 500px;
	height: 200px;
}
.value{
	width: 100px;
	height: 15px;
	background-color:#f1f1f1;
	
}
.button{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.updatebutton{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.updatecategorybtn{
	background-color: #ff9326;
	color: #ffffff;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	float: right;
	margin-left: 0px;
	
}
.inpsbtn{
	width:50%;
	float:left;
	margin-top: 75px;
}
#evidenceIdentifier{
	float:left;
	margin-top:10px;
	margin-left:10px;
}
#evidenceIdentifier1{
	float:left;
	margin-top:10px;
	margin-left:0px;
}

#itemcollectionnames{
	float:left;
}
#existingvalue,#updatablecolumns{
	float:left;
}
#tool{
	width:300px;
	height:60px;
	float:left;
}
#tool1{
	width: 300px;
	height: 30px;
	margin-top: 15px;
}
#tool2{
	width: 300px;
	height: 60px;
	margin-top: 15px;
	margin-left:0px;
	float:left;
}
#tool3{
	width: 300px;
	height: 30px;
	margin-top: 15px;
	margin-left:0px;
	float: left;
}
#updatedrop{
	width:300px;
	height:30px;
	margin-right:155px;
	margin-top: 15px;
	float:left;
}
.toolbox{
	float:left;
}
.date{
	float:left;
	margin-top: 30px;
	width: 100%;
}
#fromdateParam{
	float: left;
  margin-top: 10px;
  margin-left: 85px;
  width: 160px;
}
#todateParam{
	float: left;
  margin-top: 10px;
  margin-left: 85px;
  width: 160px;
}
/*Login page*/
@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin:0px;
}

//#banner
//{
//	width: 100%;
//	/* background-color: brown; */
//	height: 120px;
//	/*background-color: #B8B4B4;*/
//	
//}
//#logo
//{
//	float:left;
//	width: 217px;
//	/* background-color: brown; */
//	height: 120px;
//	margin-left: 5px;
//}
#loginwindow
{
	margin:0px auto;
	width: 511px;
	height: 196px;
	border-color: white;
	/* background-color:#933; */
	border-width: 3px;
	border-style: solid;
	margin-top: 0px;
	border-radius: 8px;
}
.tblcls
{
width: 100%;
height: 120px;
font-size:15px;
font-family:Lucida Sans;
align:center;
margin-left: 4px;
float:left;
margin-top: 35px;
}

.inpbtn
{
width: 180px;
height: 26px;
border-radius: 4px;
border-style: solid;
border-color: #f1f1f1;
background-color: #f1f1f1;
border-width: 1px;
}
.sgncls
{
width: 35%;
height: 43px;
border-radius: 10px;
float: right;
margin-right: 42%;
margin-left:30%;
margin-top: 6px;
background-color: #ff9326;
color: #fff;

}
#lgnbtn
{
	width:100%;
	height: 100px;
}
#login
{
	//margin-left:650px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	color: #2392ff;
	font-size:18px;
	font-family:Lucida Sans;
	float:left;
	width: 100%;
}
/*Login page End*/
/*Menu*/
.menu{
	align: center;
	background-color: #2392ff;
	color:#fff;
	border-radius: 5px;
	width:300px;
	font-size:16px;
	margin-top: 10px;
	height: 50px;
}
#option
{
	float:left;
	width:100%;
	margin-top:50px;
}
/*Menu End*/

