@charset "utf-8";
/* CSS Document */

@media (max-width:980px){
.sgncls_2{
width:22%;
}
.sgncls_12{
	width:30%;
}
}
@media (max-width: 725px)  {

h4{ 
	margin-left:0px;
	text-align: left;
}
h8{
	margin-left:3px;
 }
 
h10{
 font-size: 13px;
 margin-left: 0px;
 }
  #Name,#FirstName,#Email,#PhoneNumber,#AddressLine1,#AddressLine2,#City,#PostalCode,#Otherremark{
	width: 250px;
}
.description_new{
	font-size: 14px;
	}
 .sgncls_1{
width:47%;
}
.sgncls_2{
width:23%;
}
.sgncls1 {
  width: 50%;
  margin-right:32%;
  margin-left:20%;
}
.sgncls_new1 {
  width: 150%;
  margin-right:0%;
}
.sgncls_12
{
	margin-left:35%;
	width:45%;
}
#fromdateParam,#todateParam {
	margin-left:3px;
	}
.inptxt{
	width:400px;
	margin-left:0px;	
	
}
.inptxt1{
	width:400px;
	margin-left:0px;	
	
}
 .tblcls{
  margin-top: 20px;
}
@media (max-width: 635px) {
h1{font-size:14px; margin-right:28px;}
h4{ font-size:11px;margin-left:0px;}
h5{font-size:15px;margin-top: 5px;  margin-left: 0px;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
 .description_new{
	font-size: 12px;
	}
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
#evidenceIdentifier {
  margin-top: 10px;
}
#dateParam {
  float: right;
  margin-top: 1px;
  margin-left: 0px;
}
.inptxt{
		width:250px;
		margin-left:0px;
}
.inptxt1{
	width:250px;
	margin-left:0px;	
	
}
.tblcls_1{
	padding-left:0px;
	width:300px;
}
.value{
	width:66px;
}
.sgncls{
width:35%;
margin-right:40%;
}
#tool {
  width: 250px;
  margin-left: 0px;
}
#updatedrop {
  width: 250px;
  margin-right: 0px;
}
}
@media (max-width: 480px) {
h4{font-size: 11px;text-align:left;}
h8{
	font-size: 10px;
	margin-left:3px;
 }
 #provisiontable{
	
	padding-left:0%;
}
 .description_new{
	font-size: 11px;
	}
 #Name,#FirstName,#Email,#PhoneNumber,#AddressLine1,#AddressLine2,#City,#PostalCode,#Otherremark{
	width: 220px;
}
#fromdateParam,#todateParam {
	width:100px;
	margin-left:3px;
	}
	.inptxt{
	width: 200px;
}
.inptxt1{
	width: 200px;
}
.sgncls_1{
width:47%;

}
.sgncls_2{
width:36%;
margin-right:50%;

}
.sgncls1 {
  width: 76%;
  margin-right:38%;
  margin-left:18%;
}
.sgncls_new1 {
  width: 140%;
  margin-right:-18%;
}
.sgncls{
width:35%;
margin-right:38%;
}
.sgncls_12
{
	margin-left:20%;
	width:70%;
}
#tool{
	width:200px;
	height:50px;
	margin-left:0px;
}
#tool1,#tool2,#tool3{
	width:200px;
}
#updatedrop {
  width: 183px;
  height: 30px;
  margin-right: 0px;
  margin-top: 10px;
}
.inpsbtn{
	margin-left: 60px;
}
#loginwindow {
	  width: 350px;
	}

}
@media (max-width: 320px) {
.sgncls{
width:24%;
margin-right:34%;
}
}